body{
    background-color: rgb(119, 239, 255);
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
}

#title {
    font-family: East Sea Dokdo;
    font-size: 30px;
    text-align: center;
}


.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.trunks {
    object-fit: fill;
    border: none;
    border-radius: 50%;
}

#new-img {
    border-radius: 50%;
}

.buttons{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}

#input{
    border-radius: 50px;
    border: 1px solid gray;
    height: 30px;
}

#searchHero, #newHeroButt {
    color: white;
    background-color: black;
    padding: 10px;
    width: 90px;
    font-weight: 600;
    border-radius: 50px;
}
